name: Tests

on:
  workflow_dispatch: {}
  pull_request: {}
  push: { branches: ["main"] }

permissions:
  id-token: write
  contents: read

jobs:
  test-action:
    name: "Run ${{ matrix.test.kusto-query }} ${{ matrix.test.kusto-script }} on ${{ matrix.os }}"
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        test:
          [
            {
              kusto-uri: "https://philipgai.southcentralus.kusto.windows.net/",
              kusto-query: ".show databases",
            },
            {
              kusto-uri: "https://philipgai.southcentralus.kusto.windows.net/Test",
              kusto-query: ".show tables",
            },
            {
              kusto-uri: "https://philipgai.southcentralus.kusto.windows.net/Test",
              kusto-script: "kusto-scripts/show-commands.kql",
            },
          ]
    steps:
      - uses: actions/checkout@v3.5.2
      - uses: Azure/login@v1
        with:
          client-id: b63b64a4-12a9-4556-88e4-8863180b982e
          tenant-id: 87e276c0-7d18-4d86-948a-ba5eea990211
          allow-no-subscriptions: true
      - uses: philip-gai/setup-kusto@main
        with:
          kusto-version: 11.3.1
          target-version: net6.0
      - name: Run ${{ matrix.test.kusto-query }} ${{ matrix.test.kusto-script }}
        uses: ./
        with:
          kusto-uri: "${{ matrix.test.kusto-uri }}"
          kusto-query: "${{ matrix.test.kusto-query }}"
          kusto-script: "${{ matrix.test.kusto-script }}"
